.cache
org-roam.db
.lsp-session-v1
.org-id-locations
amx-items
auto-save/
auto-save-list/
bookmarks
custom.el
early-init.el
eln-cache/
env
ielm-history.eld
org-supertag/
projectile-bookmarks.eld
projects
tramp
transient/
*~undo-tree~
*.elc
*-autoloads.el
/epkgs
init.el
init-early.el
*.elc
